# Ignore build output
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore generated documentation
HELP.md

# Ignore Maven-specific files
.mvn/
mvnw
mvnw.cmd

### IDE Specific Files ###

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Visual Studio Code
.vscode/

### Custom Exclusions ###

# Application properties file
#src/main/resources/application.properties

# Logs
*.log

# Environment-specific files
.env
env.list

# Personal configuration files
personal.conf

# Ignore sensitive files
speechtotextgoogle.json